@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
}

picture {
    display: block;
    font-size: 0;
}

input,
textarea {
    display: block;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    resize: none;
    padding: 5px;
    outline: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
}

/* FLEX */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-start {
    justify-content: start;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.align-between {
    align-content: space-between;
}

.text-center {
    text-align: center;
}

/* WIDTH & HEIGHT*/

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-33 {
    width: 33.333333%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

/* FONT-SIZE */

.fs-15 {
    font-size: 15px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-45 {
    font-size: 45px;
}


/* FONT-WEIGHT */

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

/* GAPS */

.gapY10 {
    row-gap: 10px;
}

.gapY20 {
    row-gap: 20px;
}

.gapY40 {
    row-gap: 40px;
}

.gapY60 {
    row-gap: 60px;
}

.gapX10 {
    column-gap: 10px;
}

.gapX20 {
    column-gap: 20px;
}

.gapX40 {
    column-gap: 40px;
}

/* PADDING & MARGIN*/

.p0 {
    padding: 0;
}

.px10 {
    padding: 10px;
}

.px0 {
    padding-inline: 0;
}

.py0 {
    padding-block: 0;
}

.mt-20 {
    margin-top: 20px;
}

.mt-50 {
    margin-top: 50px;
}

/* LETTER-CASES */

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}