* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* PAGE SCROLLING BAR */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--dark);
}

::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--white);
}

/* COLORS AND FONTS */

:root {
  --dark: #121212;
  --dark2: #161616;
  --brighter-dark: #2a2a2a;
  --green: #DFF11E;
  --white: #f4f4f4;
  --snow-white: #FFFFFF;
  --grey: #94a3b8;
  --grey2: #ececec;
  --font: 'JetBrains Mono', monospace;
}

html {
  scroll-snap-type: y mandatory;
  /* The CSS property scroll-snap-type: y mandatory; is used on a scroll container to force vertical scrolling to lock (snap) into place at specific positions. */
  overflow-y: scroll;
  height: 100%;
}

body {
  background: var(--dark);
  color: var(--white);
  font-family: var(--font);
  height: 100%;
  letter-spacing: 0.03em;
}

section {
  padding: 80px 120px;
  overflow: hidden;
  scroll-snap-align: start;
  /* scroll-snap-align: start; specifies that when a user stops scrolling, the "start" edge of a child element should snap to the "start" edge of its parent scroll container */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  /* overflow: hidden is a CSS property value that clips any content that extends beyond an element’s padding box. Unlike the default visible setting, it hides the extra content and prevents scrollbars from appearing. */
}

/* NAV */

nav {
  padding: 20px 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark2);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid var(--brighter-dark);
  z-index: 100;
}

.nav-logo {
  font-family: var(--font);
  font-size: 20px;
  color: var(--green);
}

.nav-sections {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-sections a {
  font-size: 16px;
  font-family: var(--font);
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s ease;
  letter-spacing: 0.08em;
  cursor: pointer;
  position: relative;
}

.nav-sections a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--green);
  transition: width 0.3s ease;
}

.nav-sections a:hover {
  color: var(--green);
}

.nav-sections a:hover::after {
  width: 100%;
}

/* SCROLL INDICATORS */

.section-indicators {
  position: fixed;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--brighter-dark);
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  background: var(--green);
  box-shadow: 0 0 8px var(--green);
}

/* SECTION - HERO */

.hero-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  position: relative;
  z-index: 1;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 650px;
}

.hero-img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--green);
  box-shadow: 0 0 40px rgba(223, 241, 30, 0.15);
}

.hero-occupation {
  font-family: var(--font);
  font-size: 20px;
  color: var(--green);
  display: flex;
  align-items: center;
  gap: 12px;
  letter-spacing: 0.3em;
}

.hero-occupation::before {
  content: '';
  width: 30px;
  height: 1px;
  background: var(--green);
}

.pulsing-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--green);
  display: inline-block;
  position: relative;
}

.pulsing-dot::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: var(--green);
  animation: pulse 1.4s ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.open-to-work {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  border: 1px solid var(--brighter-dark);
  padding: 6px 14px;
  border-radius: 30px;
  font-family: var(--font);
  font-weight: 300;
  font-size: 18px;
  color: var(--white);
}

.hero-name {
  font-size: 55px;
  font-weight: 700;
  color: var(--white);
}

.hero-name span {
  color: var(--green);
}

.hero-intro {
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
}

.hero-intro::after {
  content: '|';
  color: var(--green);
  animation: blink 1s step-end infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.code-tag {
  color: var(--green);
  font-size: 16px;
}

.hero-desc {
  max-width: 100%;
  font-size: 20px;
  line-height: 1.7;
  color: var(--grey);
}

.hero-btns {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.btn-primary {
  padding: 14px 28px;
  color: var(--white);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: 1px solid var(--green);
  background: linear-gradient(to right, var(--white) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.4s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
  background-position: left;
  color: var(--dark);
  border: 1px solid var(--white);
}

.btn-secondary {
  padding: 14px 28px;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  color: var(--white);
  border: 1px solid var(--white);
  background: linear-gradient(to right, var(--green) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.4s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-secondary:hover {
  background-position: left;
  color: var(--dark);
  border: 1px solid var(--green)
}

.hero-nets {
  position: absolute;
  left: 40px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.hero-nets::after {
  content: '';
  width: 1px;
  height: 60px;
  background-color: var(--grey);
  animation: scrollPulse 1.5s ease-in-out infinite;
  box-shadow: 0 0 6px var(--green);
}

.hero-nets a {
  color: var(--grey);
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.hero-nets a:hover {
  color: var(--green);
  transform: translateY(-4px);
}

.hero-scrollsign {
  position: absolute;
  right: 40px;
  bottom: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font);
  font-size: 16px;
  color: var(--grey);
  font-weight: 700;
  letter-spacing: 0.03em;
  writing-mode: vertical-rl;
}

.hero-scrollsign::before {
  content: '';
  width: 1px;
  height: 60px;
  background: var(--grey);
  animation: scrollPulse 1.5s ease-in-out infinite;
  box-shadow: 0 0 6px var(--green);
}

.green {
  color: var(--green);
}

@keyframes scrollPulse {

  0%,
  100% {
    opacity: 1;
    box-shadow: 0 0 6px var(--green), 0 0 12px var(--green);
  }

  80% {
    opacity: 0.3;
    box-shadow: none;
  }
}